@media (min-width:768px) and (max-width:1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 10.2vw;
  }

  .card {
    width: 24vw;
  }

  .search {
    top: 8px;
  }
}

@media (max-width:767px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    margin: 50px 10px;
  }

  .card {
    width: 45vw;
  }

  .recipe-content {
    height: 220px;
  }

  .search {
    top: 14px;
  }
}