* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 18, 18);
  /* background-color: rgb(247, 244, 244); */
}

.search-heading {
  color: black;
  text-align: center;
  margin: 20px;
}

.loader {
  position: absolute;
  /* color: black; */
  color: white;
  margin: 0 auto;
  text-align: center;
}

.loading-icon {
  animation: loading 6s linear infinite;
  position: relative;
  left: 50;
  right: 50;
  top: 150px;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width:768px) {

  #cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 0;
  }


}